@import "tailwindcss";

/* Компоненты */
@import "./components/buttons.css";
@import "./components/forms.css";
@import "./components/cards.css";
@import "./components/modals.css";
@import "./components/alerts.css";
@import "./components/layout.css";
@import "./components/status.css";
@import "./components/filters.css";
@import "./components/taskList.css";

/* Страницы */
@import "./pages/tasks.css";

/* Состояния */
@import "./states/loading.css";
@import "./states/empty.css";

/* Утилиты */
@import "./utilities/responsive.css";
@import "./utilities/themes.css";