.tasks-page {
    @apply min-h-screen bg-gray-50;
}

.tasks-container {
    @apply container mx-auto px-4 py-8 max-w-6xl;
}

.tasks-layout {
    @apply grid grid-cols-1 lg:grid-cols-3 gap-8;
}

.tasks-sidebar {
    @apply lg:col-span-1;
}

.tasks-main {
    @apply lg:col-span-2;
}