@import "tailwindcss";

.button {
    @apply cursor-pointer px-4 py-2 rounded-md transition-colors duration-200
}

.small-button {
    @apply cursor-pointer p-2 disabled:bg-transparent rounded transition-colors duration-200
}

.button:disabled {
    @apply disabled:bg-gray-400 disabled:cursor-not-allowed
}