.page-header {
    @apply text-center mb-12;
}

.page-header-main {
    @apply flex justify-between items-center mb-4;
}

.page-header-title {
    @apply text-4xl font-bold text-gray-800;
}

.page-header-user {
    @apply flex items-center gap-4;
}

.page-header-greeting {
    @apply text-gray-600;
}

.page-header-subtitle {
    @apply text-xl text-gray-600;
}